/* changing the mouse cursor to hand when moving over the grid rows*/
.k-grid tbody {
    cursor: pointer !important;
}

/* overrriding the row class of bootstrap to remove the margin of div row */
.row {
    margin-left: 0px;
    margin-right: 0px;
}